/* Animation */

@keyframes fadeIn { /* Fade-in animation for product cards and images */
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Block-level elements */
body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

/* Navigation bar */
nav{
    top: 0;
    left: 0;
    position: fixed; /* "A fixed nav is better than an annoying nav that scrolls away" - Wise person 2025 */
    width: 100%;

    background-color: #0d0c14;
    font-size: 1.5rem;

    z-index: 999;
}
nav ul{
    margin: 0;
    border-top: 4px solid #ce6e00;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch; /* So the clickable area fills the entire nav item */

    list-style-type: none;
}
nav ul li{ /* Each nav item */
    padding: 20px;
    width: 10%;
    align-items: stretch; /* So the clickable area fills the entire nav item */

    /* Align text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
nav ul li.brand {
    margin: 0 auto 0 0; /* Pushes the logo to the left side */
}
nav ul li.active-link { /* The currently active page link */
    background-color: #39346b;
}
nav ul li img{
    width: auto; /* Maintain aspect ratio */
    height: 50px;
    object-fit: contain; /* Prevent image distortion, because flex destroys the aspect ratio 😭 */
}

/* Landing section */
#landing-page, .landing {
    margin-top: 94px; /* So the nav bar doesn't cover the landing page content */
    width: 100%;
    height: 900px;
}
#landing-page {
    position: absolute;
    z-index: -1;
}
.landing {
    box-sizing: border-box; /* Ensure padding also is fitted into the 100% */
    padding: 250px 200px;

    margin-bottom: 100px;
}
.landing h1{
    font-family: "JetBrains Mono";

    font-weight: lighter;
    margin: 0;
}


/* the cool triangle thingies you see in the home page */
#conveyor-belt{
    position: relative; /* So the children triangles can be affected by overflow: hidden; */
    display: flex; /* Prevent wrapping of elements, so the triangles don't make a new line */
    overflow: hidden;
    width: 50%;
}

/* Contact page */
.social-media {
    text-align: center;
    margin-top: 200px;
    width: 100%;
}
.social-media-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;;
    width: 80%;
    padding: 0;

    margin: 100px auto;

    list-style-type: none;
    text-align: center;
}
.social-media-list li{
    background-color: #15141f;
    border-radius: 15px;

    padding: 80px;

    margin: 50px;

    animation: fadeIn 1s ease forwards;
}
.social-media-list button {
    margin-top: 100px;
    padding: 20px 50px;
}
.social-media-list img { /* Social media icons */
    width: 100px;
    height: 100px;

    border-radius: 100%;
}

/* footer */
footer{
    background-color: #0f0d1c;

    padding: 100px 100px 50px;
    margin-top: 100px;

    border-bottom:  8px solid #e99418;
}

/* Products section */
.products {
    width: 70%;
    margin: 250px auto;

    text-align: center;
}

.product-list {
    text-align: center;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 50px;
}
.products h2{
    font-family: "JetBrains Mono";
    font-weight: lighter;
    margin: 0;
}

.product-card {
    background-image: linear-gradient(#15141f, #0f0d1c);
    border-radius: 25px;
    padding-bottom: 50px;
    margin: 20px 20px 100px;

    width: 25%;
    box-sizing: border-box; /* So padding doesn't increase the width */

    animation: fadeIn 1s ease forwards;
}
.product-image-container {
    position: relative; /* So the sale badge can be positioned absolutely within this container */
    border-radius: 25px;
    background-color: white;
    padding: 60px;
    margin-bottom: 50px;

    /* make all image boxes the same height and center the image */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    overflow: hidden;

    z-index: 1; /* So it appears above the product card background */
}
.product-image-container .sale-badge, .product-image-container .sale-text { /* Sale badge on top-left of product image */
    position: absolute;
    color: white;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    top: 0;
    left: 20px;
    font-size: 1.2rem;

    width: 20%;
    height: 25%;

    z-index: 99; /* So it appears above the image */
}
.product-card h5 {
    margin: 0 30px;
}
.product-card button {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
}
.product-image,.detailed-product-image { /* Product images */
    display: block;
    max-height: 100%;
    width: auto;
    object-fit: contain; /* keep aspect ratio, fill available height */
    margin: 0 auto;

    animation: fadeIn 1s ease forwards;
}


/* Section cards (key points about the website) */

section.card { /* Section cards */
    padding: 100px;
}
section.card h1 { /* Section card headings */
    font-size: 3rem;
}

#footer-info { /* Footer information section */
    margin-bottom: 70px;
}
#footer-info ul {
    list-style-type: none;
    padding: 0;
}
#footer-info div {
    flex-grow: 1;
    margin-bottom: 20px;
}
#footer-info li {
    margin-bottom: 10px;
}
#footer-info a {
    text-decoration: underline;
}

/* General block elements */

hr{ /* Horizontal rules - the horizontal bar thingies you see under headings */
    border: 2px solid;
    color: white;
}
hr.header { /* Horizontal rule for headers */
    width: 20%;
}
hr.left { /* Horizontal rule aligned to the left */
    margin-inline-start: 0;
}
hr.center { /* Horizontal rule centered */
    margin-inline-start: auto;
    margin-inline-end: auto;
}
hr.right { /* Horizontal rule aligned to the right */
    margin-inline-end: 0;
}

/* Buttons */
button{
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 15px;
    border: none;
    color: white;

    background-color: #4e4b7a;

    transition: background-color 0.5s ease;
}
button:hover { /* Button hover state */
    cursor: pointer;
}
button:hover.accent1 { /* Orange */
    background-color: #ce6e00;
}
button:hover.accent2 { /* Green */
    background-color: #107a05;
}

/* Select dropdowns (product filters) */
select{
    border: 2px solid white;
    color: white;

    background-color: black;
    appearance: none; /* Remove default styling */

    padding: 20px;
    margin-bottom: 100px;

    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
}

/* General classes */
.accent1 { /* Orange */
    background-color: #e99418;
}
img.accent1, hr.accent1 {
    border-color: #e99418;
}
.accent2 { /* Green */
    background-color: #47a73c;
}
img.accent2, hr.accent2 {
    border-color: #47a73c;
}

.transparent { /* Transparent background, white border */
    background-color: transparent;
    border: 2px solid white;

    border-radius: 0;

    transition: background-color 0.5s ease;
}
.transparent:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.border { /* Elements with a border */
    border: 4px solid white;
}

.shadow{ /* Image shadowing */
    box-shadow: 20px 20px #202022;
}

.horizontal-row { /* For horizontal rows of elements */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical-column { /* For vertical columns of elements */
    display: flex;
    flex-direction: column;
}

.row-item { /* Items in a horizontal row */
    flex-basis: 0; /* Sets default flex grow size to 0 so all elements in a horizontal row share take up the same space by default */
}

.circle { /* For images that need to be in a circle */
    border-radius: 100%;
    border: 10px solid;
}

.icon-list { /* For lists of icons in footer */
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.icon-list img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Text elements */
h1{ /* Main headings */
    font-size: 6rem;
}
.landing{
    font-weight: lighter;
}

h2{ /* Subheadings */
    font-size: 3rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: lighter;
}

h3 { /* Subsubheadings */
    font-size: 2rem;
}

h4 { /* Subsubsubheadings */
    font-size: 1.75rem;

}

h5 { /* Subsubsubsubheadings */
    font-size: 1.25rem;

}

h6 { /* Subsubsubsubsubheadings */
    font-size: 0.5rem;

}

p{/* Paragraphs */
    font-size: 1.5rem;
}
    
a{
    color: white;
    text-decoration: none;
}