/* Block-level elements */

body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

/* Navigation bar */
nav{
    background-color: #0f0d1c;
    font-size: 1.5rem;
}
nav ul{
    margin: 0;
    border-top: 4px solid #ce6e00;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch; /* So the clickable area fills the entire nav item */

    list-style-type: none;
}
nav ul li{
    padding: 20px;
    width: 10%;
    align-items: stretch; /* So the clickable area fills the entire nav item */

    /* Align text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
nav ul li.brand {
    margin: 0 auto 0 0; /* Pushes the logo to the left side */
}
nav ul li.active-link {
    background-color: #39346b;
}
nav ul li img{
    width: auto;
    height: 50px;
    object-fit: contain; /* Prevent image distortion, because flex destroys the aspect ratio 😭 */
}

/* Landing section */
#landing-page, .landing {
    width: 100%;
    height: 900px;
}
#landing-page {
    position: absolute;
    z-index: -1;
}
.landing {
    box-sizing: border-box; /* Ensure padding also is fitted into the 100% */
    padding: 150px 200px;

    margin-bottom: 100px;
}
.landing h1{
    font-family: "JetBrains Mono";

    font-weight: lighter;
    margin: 0;
}


/* the cool triangle thingies you see in the home page */
#conveyor-belt{
    position: relative; /* So the children triangles can be affected by overflow: hidden; */
    display: flex; /* Prevent wrapping of elements, so the triangles don't make a new line */
    overflow: hidden;
    width: 50%;
}
footer{
    background-color: #0f0d1c;

    padding: 100px 100px 50px;
    margin-top: 100px;

    border-bottom:  8px solid #e99418;
}

/* Products section */
.products {
    width: 70%;
    margin: 150px auto;

    text-align: center;
}

.product-list {
    text-align: center;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 150px;
}
.products h2{
    font-family: "JetBrains Mono";
    font-weight: lighter;
    margin: 0;
}

.product-card {
    background-image: linear-gradient(#15141f, #0f0d1c);
    border-radius: 25px;
    padding-bottom: 50px;
    margin: 20px;

    width: 25%;
    box-sizing: border-box; /* So padding doesn't increase the width */
}
.product-image-container {
    border-radius: 25px;
    background-color: white;
    padding: 60px;
    margin-bottom: 50px;

    /* make all image boxes the same height and center the image */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    overflow: hidden;

}
.product-card h5 {
    margin: 0 30px;
}
.product-card button {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
}
.product-image,.detailed-product-image {
    display: block;
    max-height: 100%;
    width: auto;
    object-fit: contain; /* keep aspect ratio, fill available height */
    margin: 0 auto;
}

/* Section cards (key points about the website) */

section.card {
    padding: 100px;
}
section.card h1 {
    font-size: 3rem;
}

#footer-info {
    margin-bottom: 70px;
}
#footer-info ul {
    list-style-type: none;
    padding: 0;
}
#footer-info div {
    flex-grow: 1;
    margin-bottom: 20px;
}
#footer-info li {
    margin-bottom: 10px;
}
#footer-info a {
    text-decoration: underline;
}

/* General block elements */
/* Horizontal rules */
hr{
    border: 2px solid;
    color: white;
}
hr.header {
    width: 20%;
}
hr.left {
    margin-inline-start: 0;
}
hr.center {
    margin-inline-start: auto;
    margin-inline-end: auto;
}
hr.right {
    margin-inline-end: 0;
}

/* Buttons */
button{
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 15px;
    border: none;
    color: white;

    background-color: #4e4b7a;

    transition: background-color 0.5s ease;
}
button:hover {
    cursor: pointer;
}
button:hover.accent1 {
    background-color: #ce6e00;
}
button:hover.accent2 {
    background-color: #107a05;
}

/* General classes */
.accent1 { /* Orange */
    background-color: #e99418;
}
img.accent1, hr.accent1 {
    border-color: #e99418;
}
.accent2 { /* Green */
    background-color: #47a73c;
}
img.accent2, hr.accent2 {
    border-color: #47a73c;
}

.border { /* Elements with a border */
    border: 4px solid white;
}

.shadow{ /* Image shadowing */
    box-shadow: 20px 20px #202022;
}

.horizontal-row { /* For horizontal rows of elements */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical-column { /* For vertical columns of elements */
    display: flex;
    flex-direction: column;
}

.row-item { /* Items in a horizontal row */
    flex-basis: 0; /* Sets default flex grow size to 0 so all elements in a horizontal row share take up the same space by default */
}

.circle { /* For images that need to be in a circle */
    border-radius: 100%;
    border: 10px solid;
}

.icon-list { /* For lists of icons in footer */
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.icon-list img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Text elements */
h1{ /* Main headings */
    font-size: 6rem;
}
.landing{
    font-weight: lighter;
}

h2{ /* Subheadings */
    font-size: 3rem;
}

h3 { /* Subsubheadings */
    font-size: 2rem;
}

h4 { /* Subsubsubheadings */
    font-size: 1.75rem;

}

h5 { /* Subsubsubsubheadings */
    font-size: 1.25rem;

}

h6 { /* Subsubsubsubsubheadings */
    font-size: 0.5rem;

}

p{/* Paragraphs */
    font-size: 1.5rem;
}
    
a{
    color: white;
    text-decoration: none;
}