/* Main */

/* Dark theme go brrr */
body {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5rem;

	margin: 0;
	padding: 0 50px;
}

h1 {
	font-size: 5rem;
}

ul li {
	line-height: 2rem;
}

a {
	color: #ffffff;
}

/* The little things */

small {
	font-size: 1rem;
}

hr {
	margin: 200px 0 100px;
}

/* My class styles */
.image-container {
	text-align: center;

	margin: 100px 50px;
}
.image-container>p {
	font-style: italic;
	font-size: 1rem;
}
.image-container img {
	height: 200px;
	width: auto;
	border: 2px solid white;
}

.image-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}



a.back-button {
	display: inline-block;
	margin-top: 50px;
}